.box {
  width: 200px;
  height: 100px;
  background: orange;
  border: 1px solid #000;
  position: relative;
  top: -90px;   
  left: 80px;  
}
.tasvirlash{
  background-color: aqua;
  border: 1px solid #000;
  font-size: 26px;
}


.lorem{
  background-color: lightgreen;
  border: 1px solid #000;
}