body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ffecd2 0%, #5fa2d4 100%);
  
}



.box {
  width: 200px;
  height: 100px;
  background: orange;
  border: 1px solid #000;
  position: relative;
  top: -90px;   
  left: 80px;  
}
.tasvirlash{
  background-color: aqua;
  border: 1px solid #000;
  font-size: 26px;
  text-align: center;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  
  align-items: center;
  justify-content: center;
}


.lorem{
  background-color: lightgreen;
  border: 1px solid #000;
  width: 700px;
}

.siljish{
  color: #ffecd2;
  font-size: 17px;
}

.top_va_left{
  color: #2d4c50;
  font-size: 27px;
}